body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
}

h2, h3 {
   font-family: 'Titillium Web', sans-serif; 
   margin: 15px 0;
}

pre {
    margin: 0;
}

pre code {
    background: none;
    font-family: texgyrecursorregular, monospace;
    line-height: 1.5;
    padding: 1.5em 2em;
}

.center {
    text-align: center;
}

.page-gutter {
    padding: 15px 15%;
}

.page-horizontal-gutter {
    padding: 0 15%;
}

.table-layout {
    display: table;
}

.table-cell {
    display: table-cell;
    position: relative;
    vertical-align: top;
}

.fill-cell-height {
    position: absolute;
    height: 100%;
}

.fill-width {
    width: 100%;
}

svg.fill-width {
    display: block;
}

.medium-width {
    min-width: 300px;
    width: 300px;
}

.example-chart {
    background: #dee7ec;
}

.example-output {
    box-sizing: border-box;
    padding: 1.5em 2em;
}

.example-code {
    background: #eef2f5;
}

.example-chart.invert {
    background: hsl(201, 12%, 21%);
}

.example-code.invert {
    background: #2d2d2d;
}

.example-code.invert code {
    color: #bbb;
}

.example-code.invert .string {
    color: hsl(0, 90%, 90%);
}

.example-code.invert .literal, .example-code.invert .number {
    color: hsl(156, 100%, 85%);
}

.example-code.invert .keyword {
    color: #ccc;
}

.light-text-color {
    color: #eee;
}

header {
    background: #ededf0;
    line-height: 1;
    position: fixed;
    transition: .5s all;
    width: 100%;
    z-index: 100;
}

header h1 {
    display: inline-block;
    font-size: 32px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    margin: 0 7px;
    vertical-align: middle;
}

header.invert {
    background: #444;
    color: #ddd;
}

section {
    font-size: 17px;
}

.accent {
    background: hsl(189, 30%, 59%);
    color: white;
}

.accent a {
    color: #cef;
}

.invert {
    color: #aaa;
}

#logo-mini {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    shape-rendering: crispEdges;
}

.logo-left {
    stroke: #33445a;
    fill: #dee7ec;
}

.logo-right {
    stroke: #556a8a;
    fill: #eef2f5;
}

#splash {
    background: linear-gradient(to bottom, #ededf0 50px,#ffffff 100%);
    padding: 120px 0 80px;
}

#logo-main {
    display: inline-block;
    width: 150px;
    height: 150px;
}

#wavy {
    display: block;
    height: 100px;
}

#wavy .layer1 path {
    fill: hsl(187, 20%, 54%);
    opacity: 0.7;
}

#wavy .layer2 path {
    fill: hsl(152, 26%, 76%);
    opacity: 0.7;
}

#composing {
    border-bottom: 1px solid #eee;
    height: 150px;
    margin-top: 100px;
}

#composing rect {
    transition: .5s fill;
}

#composing rect:hover {
    opacity: 1;
}

#constellation-section {
    background: linear-gradient(to bottom, #444 50px, #222 300px);
}

#constellation {
    height: 350px;
    margin-top: 50px;
}

#constellation + h2 {
    margin-top: -40px;
}

#example-basic path {
    stroke: white;
    stroke-width: 7px;
}

#example-layerable .area-plot path {
    fill: hsl(167, 27%, 74%)
}

#example-layerable .line-plot path {
    stroke: white;
    stroke-width: 7px;
}

#example-layerable .domain {
    display: none;
}

#example-layerable .tick:first-child {
    display: none;
}

#example-layerable .tick line {
    stroke: white;
}

#example-component .domain {
    display: none;
}

#example-component .tick:first-child {
    display: none;
}

#example-component .tick line {
    stroke: white;
}

#example-component .area-plot path {
    opacity: 0.7;
}

#example-component .series-1 .area-plot path {
    fill: hsl(187, 20%, 54%);
}

#example-component .series-2 .area-plot path {
    fill: hsl(152, 26%, 76%);
}

#example-component .series-3 .area-plot path{
    fill: hsl(9, 20%, 54%);
}

#example-component .line-plot path {
    stroke: white;
    stroke-width: 7px;
}

#example-drawable {
    padding: 10px 35px;
}

#example-drawable li {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

#example-drawable input {
    margin-right: 10px;
}

#example-drawable label {
    vertical-align: middle;
}

#example-plottable {
    height: 5px;
}