@font-face {
    font-family: 'texgyrecursorregular';
    src: url('font/texgyrecursor-regular-webfont.eot');
    src: url('font/texgyrecursor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/texgyrecursor-regular-webfont.woff') format('woff'),
         url('font/texgyrecursor-regular-webfont.ttf') format('truetype'),
         url('font/texgyrecursor-regular-webfont.svg#texgyrecursorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
